<div>
    FOOTER
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Footer",
        "settings": {
        }
      }
    ]
  }
{% endschema %}