 .disclosure__button {
     border: unset;
     background: unset;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     align-items: center;
     gap: 1rem;
     padding: 0;
     cursor: pointer;
 }

 .disclosure__button svg {
     width: 1rem;
     height: 1rem;
     color: lightgrey;
 }

 .disclosure__list,
 #CountryList {
    position: absolute;
    padding: 16px 20px 0;
    top: 3rem;
    right: 0rem;
    z-index:1000;
 }

 @media screen and (max-width: 768px) {
     .disclosure__list,
     #CountryList {
         padding: 16px 20px 0;
         top: unset;
         right: 0rem;
         bottom: 55px;
     }
 }